[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RagGrid"]
	path = RagGrid
	url = https://github.com/no-types/raggrid
	shallow = true
	registered = true
